* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbc0f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 4rem;
  margin-bottom: 1.5rem; 
  font-family: 'Batang', 'Noto Serif KR', 'Georgia', serif;
  font-weight: 600;
  color: #ffffff;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Batang', 'Noto Serif KR', 'Georgia', serif;
  font-weight: 100;
  color: #ffffff;
}

.p1{
  font-size: 1rem;
  font-family: "Times New Romans",Serif;
  color: #000000;
}

.p2{
  font-size: 1rem;
  font-family: "Times New Romans",Serif;
  color: #ffffff;
}

.DarkerSection {
  background-color: #ae9cd7;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.LighterSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
  text-align: center
}

.Introduction {
  text-align: center;
  line-height: 1.8;
  font-size: 1.1rem;
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;

}

.profileImage{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.oval-bg-dark {
  background-color: #ae9cd7; 
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  border-color: #a583d5;
  border-width: 2px;
  border-style: solid;
  display: inline-block; 
}

.oval-bg-light {
  background-color: #dbc0f1; 
  padding: 0.6rem 1.5rem; 
  border-radius: 50px; 
  display: inline-block; 
  border-width: 2px;
  border-color: #a583d5;
  border-style: solid;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0rem auto;
  width:100%;
}

.project-card{
  background-color: #dbc0f1;
  padding: 2rem;
  border-radius: 20px;
  border: 3px solid #a583d5;
  height: 300px;

  display: flex;         
  flex-direction: column;
  justify-content: flex-start;

  cursor: pointer;
  transition: transform 0.3s ease;
}

.AppButtons{
  font-size:'48px';
  color:#ffffff;
  cursor:"pointer";
  display:'inline-block';
  transition:'color 0.3s';
  margin-left:1rem;
  margin-right:1rem;

}