* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #dbc0f1;*/
  background-color: #B48E92;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 4rem;
  margin-bottom: 1.5rem; 
  font-family: 'Batang', 'Noto Serif KR', 'Georgia', serif;
  font-weight: 600;
  color: #ffffff;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Batang', 'Noto Serif KR', 'Georgia', serif;
  font-weight: 100;
}

.p1{
  font-size: 1.25rem;
  font-family: "Times New Romans",Serif;
  color: #000000;
  overflow:auto;
}

.p2{
  font-size: 1.25rem;
  font-family: "Times New Romans",Serif;
  color: #ffffff;
}

.DarkerSection {
  /*background-color: #ae9cd7;*/
  background-color: #533B4D;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.LighterSection{
  display: flex;  
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
  text-align: center
}

.Introduction {
  text-align: center;
  line-height: 1.8;
  font-size: 1.1rem;
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;

}

.profileImage{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.oval-bg {
  background-color: #FAEDCA; 
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  border-color: #d4bd7b;
  border-width: 2px;
  border-style: solid;
  display: inline-block; 
}

.contact-button{
  background-color: #d7ba89; 
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  border-color: #b09345;
  border-width: 2px;
  border-style: solid;
  display: inline-block; 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  transform:scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  margin: 0rem auto;
}

.project-card{
  background-color: #FAEDCA;
  padding: 2rem;
  border-radius: 20px;
  border: 3px solid #b09345;
  cursor: pointer;
  text-align: center;
  display: flex;
  overflow:hidden;
  flex-direction:column; 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.project-card:hover{
  transform:scale(1.03);
  box-shadow: 1.5ch 5px 5px rgba(36, 36, 36, 0.412);
}

.AppButtons{
  font-size:'48px';
  color:#ffffff;
  cursor:"pointer";
  display:'inline-block';
  transition:'color 0.3s';
  margin-left:1rem;
  margin-right:1rem;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  border-radius:30%;
  padding:0.3rem;
}

.AppButtons:hover{
  transform:scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ProjectPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
  text-align: center
}

.ProjectImages{
  max-width:500px;
  height:auto;
  width:100%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn{
  from{
    opacity:0;
  }to{
    opacity:1;
  }
}

.ImageContainer{
  width: fit-content;
  position: relative;
  margin:auto;
  overflow:hidden;
}

.left-arrow{
  opacity:0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #7b545bcd;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  left:10px;
  border:none;
  border-radius:40%;
}
.left-arrow:hover{
  opacity:1;
}


.right-arrow{
  opacity:0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #7b545bcd;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  right:10px;
  border:none;
  border-radius:40%;
}

.right-arrow:hover{
  opacity:1;
}

.NavBar{
  background-color:#ffe8b3 ;
  width:100%;
  height:80px;
  padding: 10px;
}

.NavBarBrand{
  background-color: #B48E92; 
  padding: 1rem 1rem;
  border-radius: 50px;
  border-color: #533B4D;
  border-width: 2px;
  border-style: solid;
  display: inline-block; 
}


.NavBarText{
  font-size: 1.25rem;
  font-family: "Times New Romans",Serif;
  color: #000000;
  padding:20px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.NavBarText:hover{
  text-shadow: 2px 2px 3px #b09345;

}